*{
	font-family: Cambria, Georgia, serif !important;
}

.message {
color: #00529b !important;
background-color: white;
border-radius: 15px;
font-size: 20px;
padding: 5px;
}
.message-box {
margin: 20px auto;
width: 90%;
background-color: #d6d8d9;
padding: 40px;
border-radius: 15px;
}

.title{
  margin-bottom: 0;
  background-color:  #d6d8d9;
  color: #00529b;
  height: 90px;
}

nav{
	margin-bottom: 0 !important;
}
.navbar navbar-default {
  margin-bottom: 0 !important;
  border-radius: 0;
  padding-bottom: 0;
  border: 0;
 height: 50px !important;
}

#navbar{
  margin-bottom: 0 !important;
  background-color: white;
  border: none;
}

.navbar-brand{
	margin-bottom: 0 !important;
	color: #00529b !important;
	font-size: 22px;
	padding-right: 50px;
}

ul.nav a{
	font-size: 18px;
	padding-right: 20px;
	padding-left: 20px;
	color: #00529b !important;
}


#bodyDiv{
	background-color: #d6d8d9;
	padding-bottom: 40px;
}

#tableDiv{
	border: 1px;
}

#sch_table{
	width: 90%;
	text-align: center;
	border: 
}

#tableTitle{
	color: darkgrey;
}

thead, .time{
	background-color: #00529b;
	color: white;
	font-size: 15px;
}

td{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.days{
	width: 15%;
}

.time{
	width: 10%;
}

#main_content_div{
	
}

#status_div{
	
}	
#student_div
{
	display: flex;
	justify-content: flex-start;
	margin-left: 3%;
	margin-right: 3%;
}
#question_div
{
	height: 200px;
	text-align: left;
}

#tutor_header{
	text-align: center;
}

#tutor_list_table_div{
	width: 80%;
	
}

#student_list_table_div{
	width: 80%;
	
}

#tutor_list_table{
	text-align: auto;
}

.smiley{
    background-color: #DDD;
    border-radius: 5px;
    background-size: cover;
    background-position: top center;
    width: 80px;
    height: 80px;
    margin: 15px;
}

.small_smiley{
    background-color: #DDD;
    border-radius: 5px;
    background-size: cover;
    background-position: top center;
    width: 60px;
    height: 60px;
    margin: auto;
}

.big_smiley {
    background-color: #DDD;
    border-radius: 5px;
    background-size: cover;
    background-position: top center;
    width: 120px;
    height: 120px;
    margin: auto;
}

.yourName {
	padding-top: 20px;
}

footer{
	background-color: #d6d8d9;
}

footer h4 {
	padding-left: 115px;
}

#returnBtn{
	background: #03396a !important;
}